<style>
  .comment-section .emoji-picker-icon {
    right: 70px;
    top: 10px;
  }

  .friends-list {
    display: inline-flex;
    overflow-x: auto;
    width: 100%;
  }

  .friends-list::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background: #e7e6ec;
  }

  .friends-list::-webkit-scrollbar-thumb {
    background: #51458d;
  }

  .status-update-box-heading {
    padding: 16px;
    font-size: 1.5em;
    text-align: left;
    box-shadow: 0px 5px 5px -5px #b5b5b5;
    margin-bottom: 0px;
  }

  .upload-pic-status-button:focus {
    outline: none;
  }

  input.status-message:focus {
    border-color: #dadce8;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: unset;
  }

  status-message::placeholder {
    align-self: center;
  }

  .status-updates-wrap-converse {
    color: #474d59;
    background: transparent;
    font-size: 1.1em;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    width: 100%;
    border: none;
    border-top: 1px solid #f0f3f7;
    text-align: left;
  }

  .status-updates-wrap-converse:first-child {
    border: none;
    border-top: 1px solid #f0f3f7;
    border-bottom: 1px solid #f0f3f7;
  }

  .status-updates-wrap-converse:last-child {
    border: none;
    border-top: 1px solid #f0f3f7;
    border-bottom: 1px solid #f0f3f7;
  }

  .status-update-like {
    font-size: 0.65em;
    text-align: left;
    float: left;
    color: #ccd0d9;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 7px;
    margin: 10px 0;
  }

  .status-update-like:hover {
    color: #ff6e8d;
    text-decoration: none;
    outline: none;
  }

  .status-update-like i {
    font-size: 2em;
    vertical-align: middle;
    text-align: center;
  }

  .status-update-like span {
    font-size: 1.4em;
    vertical-align: middle;
    text-align: center;
    color: #ff6e8d;
    padding: 0 3px 0 7px;
  }

  a.status-update-like:focus {
    outline: 0;
    text-decoration: none;
  }

  .status-update-box-liked {
    color: #ff6e8d;
    text-decoration: none;
    outline: none;
  }

  .emoji-picker-icon {
    font-size: 20px;
    right: 86px;
    top: 17px;
  }

  .inputfile {
    width: 10%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
  }

  .thumbnail {
    width: 35%;
    height: auto;
    float: left;
    box-shadow: unset;
  }
</style>
<section>
  <div>
    <section class="content-area">
      <div class="container containerWidth">
        <!--Beginning of row-->
        <div class="row user-prof-name-pad">
          <div class="col-md-1 col-sm-1 col-xs-12 text-center hidden-xs"></div>
          <!--Beginning of status updates-->
          <div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
            <div class="user-event-box" style="height: 916px;">
              <div>
                <h4 class="status-update-box-heading" style="box-shadow: none;">
                  Newsfeed
                  <a href="" class="event-box-heading-add-event btnd hidden-xs" ng-click="showOnlyFriendsUpdates();"
                    ng-style="{color: friendsStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}">FRIENDS</a>
                  <a href="" style="margin-right: 25px;" class="event-box-heading-add-event btnd hidden-xs"
                    ng-click="showOnlyUsersInMapUpdates();"
                    ng-style="{color: mapStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}">EVERYONE</a>
                  <a href="" class="event-box-heading-add-event btnd visible-xs" ng-click="showOnlyFriendsUpdates();"
                    ng-style="{color: friendsStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}"
                    style="font-size:0.7em">FRIENDS</a>
                  <a href="" style="margin-right: 7px;font-size: 0.7em;"
                    class="event-box-heading-add-event btnd visible-xs" ng-click="showOnlyUsersInMapUpdates();"
                    ng-style="{color: mapStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}">EVERYONE</a>
                </h4>
                <div style="padding: 10px 10px 0px 10px;">
                  <p class="emoji-picker-container" style="text-align: center;">
                    <input type="file" name="file" id="file" class="inputfile" ibg-image-file-reader
                      caption="status.message.message" />
                    <button class="upload-pic-status-button" style="
                        width: 10%;
                        height: 5%;
                        float: left;
                        border-radius: 5px;
                        text-align: center;
                        border: 2px solid #dadce8;
                        font-size: 1.3em;
                        background-color: white;
                        padding: 0;
                      ">
                      <label for="file" style="cursor: pointer; height: 100%; width: 100%;"><i style="margin-top: 11px;"
                          class="fa fa-paperclip"></i></label>
                    </button>
                    <input type="hidden" name="status" id="status-hidden-input" />
                    <textarea rows="1" emoji-picker="emoji-picker" emoji-attachment-location="top left"
                      emoji-menu-location="bottom right" type="text" class="form-control status-message"
                      placeholder="What's on your mind?" ng-model="status.message.message" id="status-emoji-area"
                      ng-keyup="handleKeyDown($event)" style="
                        float: left;
                        width: 76%;
                        height: 5%;
                        border-radius: 5px;
                        text-align: left;
                        border: 2px solid #dadce8;
                        font-size: 1.3em;
                        resize: none;
                      "></textarea>
                    <button style="
                        width: 14%;
                        height: 5%;
                        float: left;
                        border-radius: 5px;
                        text-align: center;
                        border: 2px solid #dadce8;
                        font-size: 1.3em;
                        background-color: white;
                        padding: 7px 0 0 0;
                        box-shadow: unset;
                      " ng-click="newStatus($event, status.message.message)">
                      <label for="button" style="cursor: pointer; height: 100%;">Post</label>
                    </button>
                  </p>
                  <div ng-if="upload.src" style="clear: both;"></div>
                  <div ng-if="upload.type == 'image'" class="thumbnail">
                    <a href="" ng-click="removeThumbnail()"><i class="fa fa-times"
                        style="float: right; margin-right: 7px; margin-bottom: 3%; margin-top: 2%;"></i></a>
                    <img class="img-responsive" src="{{upload.src}}" alt="" style="margin-bottom: 10px;" />
                  </div>
                  <div ng-if="upload.type == 'video'" class="thumbnail">
                    <a href="" ng-click="removeThumbnail()"><i class="fa fa-times"
                        style="float: right; margin-right: 7px; margin-bottom: 3%; margin-top: 2%;"></i></a>
                    <video width="320" height="240" poster="/images/w3html5.gif" controls class="img-responsive">
                      <source ng-src="{{upload.src | trusted}}" type="{{upload.mimeType}}" />
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>
              </div>
              <div style="height: 84%; width: 100%; overflow-y: auto;">
                <div class="status-updates-wrap-converse" ng-if="allStatusUpdates.length === 0">
                  <div class="col-7">
                    <div class="text-center" style="padding: 10px 0 0 0;">
                      <h4>Sorry! No posts available for this location yet. Check out another location
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="status-updates-wrap-converse" ng-repeat="status in allStatusUpdates">
                  <div class="col-md-11 col-sm-11 col-xs-11 colPadZero">
                    <div class="col-md-2 col-sm-2 col-xs-2 colPadZero">
                      <a ui-sref="profile({USER_ID: status.from})">
                        <img ng-src="{{status.profilePic}}" class="events-convers-img" />
                      </a>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7 colPadZero">
                      <div class="event-heading-style" style="padding: 10px 0 0 0;">
                        <span>{{status.userFullname}}</span>
                      </div>
                      <div class="event-sub-heading-style" style="text-transform: none; padding: 0;">
                        <span style="font-size: 15px;">{{status.time | date: 'MMMM dd'}} at
                          {{ status.time | date: 'shortTime'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 colPadZero" ng-if="status.from == sess._id">
                    <a href="" ng-confirm-click="Are you sure to delete this status?"
                      confirmed-click="removeStatus(status)"><i class="fa fa-times"
                        style="float: right; margin-right: 7px; margin-top: 10px;"></i></a>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 colPadZero">
                    <div class="event-heading-convers"
                      style="font-size: 1.6em; padding: 25px; text-align: center; white-space: normal;"
                      ng-hide="status.status_type == 'image' || status.status_type == 'video'">

                      <p ng-bind-html="linkify(status.message)"></p>
                    </div>
                    <div ng-if="status.caption != ''" class="event-heading-convers"
                      style="font-size: 1.6em; padding: 25px; text-align: center; white-space: normal;"
                      ng-hide="status.status_type == 'text'">
                      <p ng-bind-html="status.caption | linky:'_blank'"></p>
                    </div>
                    <iframe ng-if="status.message.includes('https://www.youtube.com/')"
                      style="width: 100%; height: 315px; padding:5px;" src="{{status.message | trusted}}"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/eAagtcAup0o" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe> -->
                    <a href="{{status.message}}" data-lightbox="{{status.message}}">
                      <img ng-if="status.status_type == 'image'" src="{{status.message}}"
                        style="width: 100%; margin-top: 4px; padding: 5px;" />
                    </a>
                    <video ng-if="status.status_type == 'video'" controls
                      style="width: 100%; margin-top: 4px; padding: 5px;">
                      <source ng-src="{{status.message | trusted}}" type="video/mp4" />
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 colPadZero comment-section">
                    <input type="hidden" name="status" id="hidden-comment-{{status._id}}" />
                    <input placeholder="Write a comment!" style="
                        width: 88%;
                        height: 5%;
                        border-radius: 5px;
                        text-align: left;
                        border: 2px solid #dadce8;
                        font-size: 1.2em;
                        resize: none;
                        float: left;
                        margin-bottom: 10px;
                        margin-left: 5px;
                        text-indent: 10px;
                      " emoji-picker="emoji-picker" emoji-attachment-location="top left"
                      emoji-menu-location="bottom right" ng-model="status.reply.message"
                      ng-keypress="newReply($event, status, status.reply.message)"
                      ng-keyup="handleKeyDown($event, status._id)" id="comment-{{status._id}}" />
                    <a href="" class="status-update-like">
                      <i ng-class="{'status-update-box-liked' : status.likes.length > 0}" class="fa fa-heart"
                        aria-hidden="true" ng-click="addLikeToStatusOrReply(status);">
                      </i>
                      <span ng-click="showsLikesList(status.likes)"
                        ng-if="status.likes.length > 0">{{status.likes.length}}</span>
                    </a>
                  </div>
                  <div class="status-updates-wrap-converse" style="width: 99%; padding: 0px;"
                    ng-repeat="reply in status.replies | orderBy: '_id'">
                    <div class="col-md-2 col-sm-2 col-xs-2 colPadZero"></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 colPadZero" style="border-left: 3px solid #000;">
                      <div class="col-md-2 col-sm-2 col-xs-2 colPadZero">
                        <a ui-sref="profile({USER_ID: reply.from})">
                          <img ng-src="{{reply.profilePic}}" class="events-convers-img-small" />
                        </a>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7 colPadZero">
                        <div class="event-heading-style-small" style="padding: 10px 0 0 0;">
                          <span class="ng-binding">{{reply.userFullname}}</span>
                        </div>
                        <div class="event-sub-heading-style-small" style="text-transform: none; padding: 0;">
                          <span style="font-size: 15px;" class="ng-binding">{{reply.time | date: 'MMMM dd'}} at
                            {{ reply.time | date: 'shortTime'}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 colPadZero"
                      ng-if="reply.from == sess._id || status.from == sess._id">
                      <a href="" ng-confirm-click="Are you sure to delete this reply?"
                        confirmed-click="removeReply(reply, status)"><i class="fa fa-times"
                          style="float: right; margin-right: 7px; margin-top: 4px;"></i></a>
                    </div>
                    <br />
                    <div class="col-md-2 col-sm-2 col-xs-2 colPadZero"></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 colPadZero" style="border-left: 3px solid #000;">
                      <div class="col-md-2 col-sm-2 col-xs-2 colPadZero"></div>
                      <div class="col-md-9 col-sm-9 col-xs-9 event-heading-convers"
                        style="font-size: 1.1em; padding: 2px; text-align: left; white-space: normal;"
                        ng-if="reply.reply_type == 'text'">
                        <p ng-bind-html="reply.message | linky:'_blank'" style="margin-bottom: 0px;"></p>
                        <a href="" class="status-update-like" style="margin: 2px">
                          <i ng-class="{'status-update-box-liked' : reply.likes.length > 0}" class="fa fa-heart"
                            aria-hidden="true" ng-click="addLikeToStatusOrReply(status, reply);">
                          </i>
                          <span ng-click="showsLikesList(reply.likes)"
                            ng-if="reply.likes.length > 0">{{reply.likes.length}}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End of status updates-->
          <!--Column seperator-->
          <!-- <div class="col-md-1 col-sm-1 col-xs-12 text-center hidden-xs"></div> -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!--Beginning of map-->
            <div class="user-event-map-box">
              <h4 class="event-box-heading event-map-box-padding-style">
                <div class="dropdown event-map-box-dropdown-style">
                  <button class="btn btn-default dropdown-toggle search-form-prof-btn btn-map-area-color" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    style="text-align: center;">
                    {{citiesToFollow[0]}}<span class="caret caret-margin"></span>
                  </button>
                  <ul class="dropdown-menu" style="font-size: large; text-align: center;"
                    aria-labelledby="dropdownMenu1">
                    <li style="cursor: pointer;" ng-click="switchCity(citiesToFollow[1])">{{citiesToFollow[1]}}</li>
                    <li style="cursor: pointer;" ng-click="switchCity(citiesToFollow[2])">{{citiesToFollow[2]}}</li>
                  </ul>
                </div>
                <a class="event-box-heading-add-event" ng-click="addNewLocationToFollow()" style="cursor: pointer;">
                  <i aria-hidden="true"></i>EDIT
                </a>
              </h4>
              <div id="chartEventViewMap"></div>
            </div>
            <!--End of map-->
          </div>
          <!--Column seperator-->
          <!-- <div class="col-md-1 col-sm-1 col-xs-12 text-center hidden-xs"></div> -->
          <!--Beginning of status updates-->
          <div class="col-md-6 col-sm-6 col-xs-12 visible-xs">
            <div class="user-event-box" style="height: 916px;">
              <div>
                <h4 class="status-update-box-heading" style="box-shadow: none;">
                  Newsfeed
                  <a href="" class="event-box-heading-add-event btnd hidden-xs" ng-click="showOnlyFriendsUpdates();"
                    ng-style="{color: friendsStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}">FRIENDS</a>
                  <a href="" style="margin-right: 25px;" class="event-box-heading-add-event btnd hidden-xs"
                    ng-click="showOnlyUsersInMapUpdates();"
                    ng-style="{color: mapStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}">EVERYONE</a>
                  <a href="" class="event-box-heading-add-event btnd visible-xs" ng-click="showOnlyFriendsUpdates();"
                    ng-style="{color: friendsStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}"
                    style="font-size:0.7em">FRIENDS</a>
                  <a href="" style="margin-right: 7px;font-size: 0.7em;"
                    class="event-box-heading-add-event btnd visible-xs" ng-click="showOnlyUsersInMapUpdates();"
                    ng-style="{color: mapStatusesOnlyShown === true ? '#6148a1' : '#ffb940'}">EVERYONE</a>
                </h4>
                <div style="padding: 10px 10px 0px 10px;">
                  <p class="emoji-picker-container" style="text-align: center;">
                    <input type="file" name="file" id="file" class="inputfile" ibg-image-file-reader
                      caption="status.message.message" />
                    <button class="upload-pic-status-button" style="
                        width: 10%;
                        height: 5%;
                        float: left;
                        border-radius: 5px;
                        text-align: center;
                        border: 2px solid #dadce8;
                        font-size: 1.3em;
                        background-color: white;
                        padding: 0;
                      ">
                      <label for="file" style="cursor: pointer; height: 100%; width: 100%;"><i style="margin-top: 11px;"
                          class="fa fa-paperclip"></i></label>
                    </button>
                    <input type="hidden" name="status" id="status-hidden-input" />
                    <textarea rows="1" emoji-picker="emoji-picker" emoji-attachment-location="top left"
                      emoji-menu-location="bottom right" type="text" class="form-control status-message"
                      placeholder="What's on your mind?" ng-model="status.message.message" id="status-emoji-area"
                      ng-keyup="handleKeyDown($event)" style="
                        float: left;
                        width: 76%;
                        height: 5%;
                        border-radius: 5px;
                        text-align: left;
                        border: 2px solid #dadce8;
                        font-size: 1.3em;
                        resize: none;
                      "></textarea>
                    <button style="
                        width: 14%;
                        height: 5%;
                        float: left;
                        border-radius: 5px;
                        text-align: center;
                        border: 2px solid #dadce8;
                        font-size: 1.3em;
                        background-color: white;
                        padding: 7px 0 0 0;
                        box-shadow: unset;
                      " ng-click="newStatus($event, status.message.message)">
                      <label for="button" style="cursor: pointer; height: 100%;">Post</label>
                    </button>
                  </p>
                  <div ng-if="upload.src" style="clear: both;"></div>
                  <div ng-if="upload.type == 'image'" class="thumbnail">
                    <a href="" ng-click="removeThumbnail()"><i class="fa fa-times"
                        style="float: right; margin-right: 7px; margin-bottom: 3%; margin-top: 2%;"></i></a>
                    <img class="img-responsive" src="{{upload.src}}" alt="" style="margin-bottom: 10px;" />
                  </div>
                  <div ng-if="upload.type == 'video'" class="thumbnail">
                    <a href="" ng-click="removeThumbnail()"><i class="fa fa-times"
                        style="float: right; margin-right: 7px; margin-bottom: 3%; margin-top: 2%;"></i></a>
                    <video width="320" height="240" poster="/images/w3html5.gif" controls class="img-responsive">
                      <source ng-src="{{upload.src | trusted}}" type="{{upload.mimeType}}" />
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>
              </div>
              <div style="height: 84%; width: 100%; overflow-y: auto;">
                <div class="status-updates-wrap-converse" ng-if="allStatusUpdates.length === 0">
                  <div class="col-7">
                    <div class="text-center" style="padding: 10px 0 0 0;">
                      <h4>Sorry! No posts available for this location yet. Check out another location
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="status-updates-wrap-converse" ng-repeat="status in allStatusUpdates">
                  <div class="col-md-11 col-sm-11 col-xs-11 colPadZero">
                    <div class="col-md-2 col-sm-2 col-xs-2 colPadZero">
                      <a ui-sref="profile({USER_ID: status.from})">
                        <img ng-src="{{status.profilePic}}" class="events-convers-img" />
                      </a>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7 colPadZero">
                      <div class="event-heading-style" style="padding: 10px 0 0 0;">
                        <span>{{status.userFullname}}</span>
                      </div>
                      <div class="event-sub-heading-style" style="text-transform: none; padding: 0;">
                        <span style="font-size: 15px;">{{status.time | date: 'MMMM dd'}} at
                          {{ status.time | date: 'shortTime'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 colPadZero" ng-if="status.from == sess._id">
                    <a href="" ng-confirm-click="Are you sure to delete this status?"
                      confirmed-click="removeStatus(status)"><i class="fa fa-times"
                        style="float: right; margin-right: 7px; margin-top: 10px;"></i></a>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 colPadZero">
                    <div class="event-heading-convers"
                      style="font-size: 1.6em; padding: 25px; text-align: center; white-space: normal;"
                      ng-hide="status.status_type == 'image' || status.status_type == 'video'">

                      <p ng-bind-html="linkify(status.message)"></p>
                    </div>
                    <div ng-if="status.caption != ''" class="event-heading-convers"
                      style="font-size: 1.6em; padding: 25px; text-align: center; white-space: normal;"
                      ng-hide="status.status_type == 'text'">
                      <p ng-bind-html="status.caption | linky:'_blank'"></p>
                    </div>
                    <iframe ng-if="status.message.includes('https://www.youtube.com/')"
                      style="width: 100%; height: 315px; padding:5px;" src="{{status.message | trusted}}"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/eAagtcAup0o" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe> -->
                    <a href="{{status.message}}" data-lightbox="{{status.message}}">
                      <img ng-if="status.status_type == 'image'" src="{{status.message}}"
                        style="width: 100%; margin-top: 4px; padding: 5px;" />
                    </a>
                    <video ng-if="status.status_type == 'video'" controls
                      style="width: 100%; margin-top: 4px; padding: 5px;">
                      <source ng-src="{{status.message | trusted}}" type="video/mp4" />
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 colPadZero comment-section">
                    <input type="hidden" name="status" id="hidden-comment-{{status._id}}" />
                    <input placeholder="Write a comment!" style="
                        width: 88%;
                        height: 5%;
                        border-radius: 5px;
                        text-align: left;
                        border: 2px solid #dadce8;
                        font-size: 1.2em;
                        resize: none;
                        float: left;
                        margin-bottom: 10px;
                        margin-left: 5px;
                        text-indent: 10px;
                      " emoji-picker="emoji-picker" emoji-attachment-location="top left"
                      emoji-menu-location="bottom right" ng-model="status.reply.message"
                      ng-keypress="newReply($event, status, status.reply.message)"
                      ng-keyup="handleKeyDown($event, status._id)" id="comment-{{status._id}}" />
                    <a href="" class="status-update-like">
                      <i ng-class="{'status-update-box-liked' : status.likes.length > 0}" class="fa fa-heart"
                        aria-hidden="true" ng-click="addLikeToStatusOrReply(status);">
                      </i>
                      <span ng-click="showsLikesList(status.likes)"
                        ng-if="status.likes.length > 0">{{status.likes.length}}</span>
                    </a>
                  </div>
                  <div class="status-updates-wrap-converse" style="border-left: 3px solid #000; width: 99%;"
                    ng-repeat="reply in status.replies | orderBy: '_id'">
                    <div class="col-md-3 col-sm-3 col-xs-3 colPadZero"></div>
                    <div class="col-md-8 col-sm-8 col-xs-8 colPadZero">
                      <div class="col-md-2 col-sm-2 col-xs-2 colPadZero">
                        <a ui-sref="profile({USER_ID: reply.from})">
                          <img ng-src="{{reply.profilePic}}" class="events-convers-img-small" />
                        </a>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7 colPadZero">
                        <div class="event-heading-style-small" style="padding: 10px 0 0 0;">
                          <span class="ng-binding">{{reply.userFullname}}</span>
                        </div>
                        <div class="event-sub-heading-style-small" style="text-transform: none; padding: 0;">
                          <span style="font-size: 15px;" class="ng-binding">{{reply.time | date: 'MMMM dd'}} at
                            {{ reply.time | date: 'shortTime'}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 colPadZero"
                      ng-if="reply.from == sess._id || status.from == sess._id">
                      <a href="" ng-confirm-click="Are you sure to delete this reply?"
                        confirmed-click="removeReply(reply, status)"><i class="fa fa-times"
                          style="float: right; margin-right: 7px; margin-top: 4px;"></i></a>
                    </div>
                    <br />
                    <div class="event-heading-convers"
                      style="font-size: 1.1em; padding: 21px; text-align: left; white-space: normal;"
                      ng-if="reply.reply_type == 'text'">
                      <p ng-bind-html="reply.message | linky:'_blank'"></p>
                      <a href="" class="status-update-like">
                        <i ng-class="{'status-update-box-liked' : reply.likes.length > 0}" class="fa fa-heart"
                          aria-hidden="true" ng-click="addLikeToStatusOrReply(status, reply);">
                        </i>
                        <span ng-click="showsLikesList(reply.likes)"
                          ng-if="reply.likes.length > 0">{{reply.likes.length}}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End of status updates-->
          <!--Column seperator-->
          <!-- <div class="col-md-1 col-sm-1 col-xs-12 text-center hidden-xs"></div> -->
          <!--Beginning of column-->
          <div class="col-md-4 col-sm-4 col-xs-12 offset-md-1">
            <!--Beginning of map-->
            <!-- <div class="user-event-map-box hidden-xs">
              <h4 class="event-box-heading event-map-box-padding-style">
                <div class="dropdown event-map-box-dropdown-style">
                  <button class="btn btn-default dropdown-toggle search-form-prof-btn btn-map-area-color" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    style="text-align: center;">
                    {{citiesToFollow[0]}}<span class="caret caret-margin"></span>
                  </button>
                  <ul class="dropdown-menu" style="text-align: center; font-size: large;"
                    aria-labelledby="dropdownMenu1">
                    <li style="cursor: pointer;" ng-click="switchCity(citiesToFollow[1])">{{citiesToFollow[1]}}</li>
                    <li style="cursor: pointer;" ng-click="switchCity(citiesToFollow[2])">{{citiesToFollow[2]}}</li>
                  </ul>
                </div>
                <a class="event-box-heading-add-event" ng-click="addNewLocationToFollow()" style="cursor: pointer;">
                  <i aria-hidden="true"></i>EDIT
                </a>
              </h4>
              <div id="chartEventViewMap"></div>
            </div> -->
            <!--End of map-->
            <!--Beginning of activities and events-->
            <div style="height: 300px;" class="user-event-box">
              <div>
                <h4 class="event-box-heading">
                  Local Events
                  <a href="" class="event-box-heading-add-event" ng-click="goToCreateEventPage();">
                    <i class="fa fa-plus" aria-hidden="true"></i> ADD NEW
                  </a>
                </h4>
              </div>
              <div style="height: 80%; overflow-y: auto;">
                <div class="events-wrap-view" ng-repeat="event in myEvents">
                  <div class="col-md-2 col-sm-2 col-xs-2 colPadZero">
                    <img style="height: 70px; width: 70px;" src="{{event.eventImage}}" class="events-more-img" />
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-7 colPadZero" style="cursor: pointer;"
                    ng-click="viewEvent(event);">
                    <div class="event-heading-style">
                      <span>{{event.name}}</span>
                    </div>
                    <div class="event-sub-heading-style">
                      <span>{{event.dateOfEvent | date: 'mediumDate'}} at {{event.eventStartTime | date:
                        'shortTime'}}</span>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2 colPadZero event-seperator-border">
                    <div class="event-heading-style">
                      <span class="event-going">{{event.status}}</span>
                    </div>
                    <div class="event-sub-heading-style">
                      <a href="" class="event-box-like-event">
                        <i ng-class="{'event-box-liked' : event.likes.length > 0}" class="fa fa-heart"
                          aria-hidden="true" ng-click="addLike(event);"></i>
                        <span ng-if="event.likes.length > 0">{{event.likes.length}}</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 colPadZero" style="cursor: pointer;"
                    ng-click="viewEvent(event);">
                    <a class="event-box-arrow-view-event"><i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
                  </div>
                </div>
              </div>
            </div>
            <!--End of activities and events-->
            <!--Beginning of microblogs-->
            <div class="user-event-box" style="height: 300px;">
              <div style="height: 18%;">
                <h4 class="event-box-heading">
                  My Microblogs
                  <a href="" class="event-box-heading-add-event btnd" ng-click="createNewMicroblog();">
                    <i class="fa fa-plus" aria-hidden="true"></i> ADD NEW
                  </a>
                </h4>
              </div>
              <div style="height: 80%; width: 100%; overflow-y: auto;">
                <div class="events-wrap-converse" style="cursor: pointer;" ng-repeat="myMicroblog in myMicroblogs"
                  ng-click="openMicroblogFromList(myMicroblog)">
                  <div class="col-md-2 col-sm-2 col-xs-2 colPadZero">
                    <img ng-src="{{getMicroblogPic(myMicroblog.microblogImage)}}" class="events-convers-img" />
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9 colPadZero">
                    <div class="event-heading-convers">
                      <span>{{myMicroblog.name}}</span>
                    </div>
                    <div class="event-sub-heading-convers">
                      <span>on {{myMicroblog.created_date | date: 'shortDate'}}</span>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 colPadZero my-microblog-seperator-border">
                    <a href="" class="event-box-arrow-view-event"><i class="fa fa-chevron-right"
                        aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--End of microblogs-->
          </div>
          <!--End of column-->
          <!--Column seperator-->
          <div class="col-md-1 col-sm-1 col-xs-12 text-center hidden-xs"></div>
          <!--End of row	-->
        </div>
        <!--Beginning of row-->
        <div class="container-fluid">

          <div class="row user-prof-name-pad">
            <div class="col-md-1 col-sm-1 col-xs-12 text-center hidden-xs"></div>
            <div class="col-md-10 col-sm-10 col-xs-12" style="padding: 0px !important;">
              <!--Beginning of My Friends-->
              <div class="user-event-box mrgnbym80">
                <h4 class="event-frnds-heading">
                  My Friends<span class="abt-me-frnds-grey">&#40;{{myFriends.total}}&#41;</span>
                </h4>
                <div class="events-wrap-frnds friends-list">
                  <div class="col-md-2 col-sm-2 col-xs-4" ng-repeat="myFriend in myFriends.friends">
                    <div class="frnds-photo-inner">
                      <div class="frnds-face-photo-div">
                        <!-- popover html was here, now it is in own html file -->
                        <!-- /popover -->
                        <img ng-src="{{US.getProfilePic(myFriend.profile_pic)}}" class="frnds-face-photo-img"
                          uib-popover-template="'../myFriendPopup.html'" popover-hoverable="true"
                          friendId="{{myFriend._id}}" popover-is-open="popoverOpened1.$open"
                          popover-append-to-body="true" />
                      </div>
                      <div class="frnds-status-info-div">
                        <img ng-if="myFriend.is_online" src="img/contact-online.png" class="frnds-status-img" />
                        <img ng-if="!myFriend.is_online" src="img/contact-idle.png" class="frnds-status-img" />
                      </div>
                    </div>
                    <a ui-sref="profile({USER_ID: myFriend._id})">
                      <h4 class="frnds-name">{{myFriend.fname}} {{myFriend.lname}}</h4>
                    </a>
                  </div>
                </div>
              </div>
              <!--End of My Friends-->
            </div>
            <div class="col-md-1 col-sm-1 col-xs-12 text-center hidden-xs"></div>
          </div>
        </div>
        <!--End of row-->
      </div>
    </section>
    <!--Beginning of friend selection for chat-->
    <div>
      <div class="chat-btm-select-contacts">
        <div class="col-md-12 col-sm-12 col-xs-12 padding-even">
          <div class="frnds-selected-div ibg-overlay-container" style="position: relative;"
            ng-repeat="myFriend in myFriends.friends | filter:{selected: true} as selectedFriends">
            <img ng-src="{{US.getProfilePic(myFriend.profile_pic)}}" class="frnds-selected-img ibg-overlay-item" />
            <div class="ibg-overlay">
              <span style="font-size: 20px; cursor: pointer;" ng-click="myFriend.selected = false;"><i
                  class="fa fa-close"></i></span>
            </div>
          </div>
          <span class="frnds-select-count">{{selectedFriends.length}} Friends Selected</span>
          <div class="btn-submit-position">
            <button type="button" class="btn btn-primary chat-invite-purple-btn margin-btn">CANCEL</button>
            <button type="button" class="btn btn-primary chat-invite-orange-btn margin-btn"
              ng-click="startConversation(selectedFriends)">
              START CONVERSATION
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container containerWidth">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 text-center hidden-xs"></div>
          <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <a href="">About</a>
            <a href="">Team</a>
            <a href="">Contact</a>
            <a href="">Mission</a>
            <a href="">Technology</a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 text-center hidden-xs"></div>
        </div>
      </div>
    </footer>
  </div>
</section>