<section class="content-area">
	<div class="container containerWidth">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-12 text-center d-block d-sm-none"></div>
			<div class="col-md-4 col-sm-4 col-12 text-center">
				<img src="img/ibouge-logo.png" class="login-logo" />
				<h4 class="login-greeting">Please enter your new password.</h4>
				<div class="login-box">
					<span class="login-error-msg" ng-if="errorMessage">{{errorMessage}}</span>
					<span class="login-success-msg" ng-if="successMessage">{{successMessage}}</span>
					<form ng-submit="createNewPassword()">
						<div class="form-group">
							<label class="sr-only" for="exampleInputEmail3">Email address</label>
							<input type="email" ng-model="user.email" class="form-control" id="exampleInputEmail3"
								placeholder="Email">
						</div>
						<div class="form-group">
							<label class="sr-only" for="exampleInputPassword3">Password</label>
							<input type="password" ng-model="user.password" class="form-control"
								id="exampleInputPassword3" placeholder="Password">
						</div>
						<div class="form-inline">
							<div class="checkbox checkbox-success form-btn-left">
								<input id="checkbox1" class="styled" type="checkbox">
								<label for="checkbox1">
									Remember me
								</label>
							</div>
							<div class="checkbox checkbox-success form-btn-right">
								<a ui-sref="restorepassword" class="forgot-pwd">Forgot Password?</a>
							</div>
						</div>
						<button type="submit" class="btn btn-primary login-submit-btn">CREATE NEW PASSWORD</button>
					</form>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-12 text-right">
				<span class="login-signup">Don't have an account?</span><a ui-sref="register"><button type="button"
						class="btn btn-default">Sign Up</button></a>
			</div>
		</div>
	</div>
</section>