<div style="height: 100%; width: 100%;">
    <div class="modal-content">
        <!-- <button type="button" ng-click="cancel()" class="close" data-dismiss="photoModal" aria-label="Close"
            style="color: white; opacity: 0.6; padding-bottom: 5px;">
            <i class="fa fa-times-circle" style="font-size: 50px"></i>
        </button> -->
        <div class="modal-header" style="padding: 5px;">

            <button type="button" ng-click="cancel()"
                style="color: white; background: transparent;border: none;opacity: 0.6; float: right;"> <i
                    class="fa fa-times-circle" style="font-size: 50px"></i></button>
        </div>
        <div id="photoModal.html" class="modal-body" style="text-align: center;padding:0px;">
            <img style="max-width:100%; max-height: 100%" src="{{getImg()}}" />
        </div>`
    </div>
</div>