<section class="content-area">
	<div class="container containerWidth">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-12 text-center d-block d-sm-none"></div>
			<div class="col-md-4 col-sm-4 col-12 text-center">
				<img src="img/ibouge-logo.png" class="login-logo" />
				<h4 class="login-greeting">Restore your password</h4>
				<span class="login-greeting-sub-head">Enter your email address and we'll get you back on track.</span>
				<div class="login-box">
					<span class="login-error-msg" ng-if="errorMessage">{{errorMessage}}</span>
					<span class="login-success-msg" ng-if="successMessage">{{successMessage}}</span>
					<form ng-submit="restorePassword(restoreEmail)">
						<div class="form-group">
							<label class="sr-only" for="exampleInputEmail3">Email address</label>
							<input ng-model="restoreEmail" type="email" class="form-control" id="exampleInputEmail3"
								placeholder="Email">
						</div>
						<button type="submit" class="btn btn-primary login-submit-btn">RESTORE PASSWORD</button>
					</form>
				</div>
				<a class="home-link" ui-sref="login">Go back to Login</a>
			</div>
			<div class="col-md-4 col-sm-4 col-12 text-right">
				<span class="login-signup">Don't have an account?</span><a ui-sref="register"><button type="button"
						class="btn btn-default">Sign Up</button></a>
			</div>
		</div>
	</div>
</section>