<!DOCTYPE html>




<html>
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NWKST7R');</script>
  <!-- End Google Tag Manager -->

	<title>iBouge, Inc.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/aboutCSS.css">
</head>



<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWKST7R"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<style>
    .navbar.navbar-expand-lg.navbar-dark.bg-dark{background-color: #62479F !important; font-size: 40px}
    a.nav-link{font-size:18px; margin-left: 50px; color: white !important; }
    a.navbar-brand{font-size:24px;}
    a:hover {color:#FFB940 !important}
    
</style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://www.ibouge.com/#/login">iBouge</a>
        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              
            
            </li>
            <li class="nav-item">
              
            </li>
           
              
            <a class="nav-link" href="https://www.ibouge.com/about.html">About</a>
            <a class="nav-link" href="https://www.ibouge.com/team.html">Team</a>
            <a class="nav-link" href="https://www.ibouge.com/contact.html">Contact</a>
            
            <a class="nav-link" href="https://www.ibouge.com/mission.html">Mission</a>
        
            
           
            
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" href="https://www.ibouge.com/login" type="submit">Login</button>
          </form>
        </div>
      </nav>
<br>

	<!-- Site Header -->
	<header>
		<!-- h1: The most important headline (only one allowed per page by W3C standards) -->
		
	</header>

	<div class="container">
		<!-- Section 1: Biography -->
		<section id="main-bio">
			<!-- h2: Tier-2 Headline (Not as important as the h1 header, but more than one allowed). -->
			<h2>Lisa Rowlett Leslie</h2>

			<!-- Headshot image -->
			<img id="bio-image" src="aboutHeadshot.png" height="270" width="250" alt="Lisa Leslie headshot">
            <br>
			<!-- Paragraph with embedded link -->
			<h3>Founder & CEO</h3>
			
				<p> Lisa Leslie is the Founder and CEO of iBouge, Inc -- the trusted network for globetrotters. We are the first networking platform that connects you to new friends at home and abroad using location as a commonality to others rather than mutual connections. We are not a social network. All of our products use map interfaces to re-design existing industries such as social media, travel, e-commerce, microblogging, chat and search using shared location as the foundation for the platform. Lisa most recently developed JetSetMet -- a feature of iBouge which matches users with new friends where they're traveling so you can meet locals anywhere and have friends everywhere.</p>

<p>Lisa was educated at the University of Washington in Seattle as well as Sciences Po in Paris, France. She holds undergraduate degrees in French and International Studies with a concentration in Western Europe. She also holds a graduate certificate in Full-Stack Web Development from the University of Washington.</p>

<p>Lisa has worked in tech since 2007 starting her career in Dubai, UAE working for a startup and then moving to NYC to work for Microsoft and Akamai Technologies, later relocating to Silicon Valley to work for Opera Software. Her areas of professional focus are in information architecture, product development, product design, full-stack web development, debugging, operations, analytics, technical support and quality assurance.</p>

<p>Lisa currently has 6 patents pending with the USPTO in the field of geo-networking and is bilingual in English and French.</p>

<p>When Lisa is not working on her startup she can be found at the pool swimming for the US Masters Swim Team or playing with her chihuahuas Willa and Georgia.  Lisa also enjoys traveling internationally with her husband. </p>


			
		</section>

		<!-- Section 2: Contact Information -->
		<section id="contact-info">

			<h2>Contact Information</h2>
			
			<ul>
				<li><strong>Email:</strong> <a href="mailto:lisar@ibouge.com">lisar@ibouge.com</a></li>
				<li><strong>Github:</strong> <a href="https://github.com/lisa84ibouge">https://github.com/lisa84ibouge</a></li>
				<li><strong>Portfolio:</strong> <a href="https://lisa84ibouge.github.io/portfolio/">https://www.lisa84ibouge.github.io/portfolio/</a></li>
			</ul>

		</section>
	</div>

</body>
</html>
   
</div>


    
    
